/*navigation bar*/
#logo {
  font-weight: 600;
  font-size: large;
  display: inline-block;
  text-align: justify;
}
ul {
  list-style-type: none;
  padding: 0%;
  margin: 2rem;

  overflow: none;
}
li {
  display: inline-flex;
  color: black;
  padding: 1rem;
}

/*bodt part*/

body {
  display: grid;
  grid-template-columns: repeat(3);
  grid-template-areas:
    "header header header"
    "first first first"
    "second second second"
    "third third third";
}
header {
  grid-area: header;
}
#header-pic {
  width: max-content;
}
main {
  grid-area: first;
}
#differproject {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}
.category-project {
  width: 50%;
  border-radius: 18rem;
}
div {
  grid: second;
}
footer {
  background-color: blue;
  grid-area: third;
  display: flex;
  width: auto;
  min-height: fit-content;
}

#left {
  flex-grow: 1.2;
}
#center {
  flex-grow: 3;
}
#right {
  flex-grow: 1.2;
}
