/*navigation bar*/
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  padding: 10px 0;
  z-index: 1000;
  background-color: rgb(0, 0, 0);
  padding: 0;

  border: 0;
  margin: 0;
}

#nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  list-style-type: none;
  padding: 0 0 0 0;

  margin: 0 0 0;
  overflow: none;
}
#logo-pic {
  width: 5%;
  height: fit-content;
}
li {
  display: inline-flex;
  color: rgb(255, 255, 255);
  padding: 0.8rem;
}
/*bodt part*/

body {
  display: grid;

  grid-template-areas:
    "first first first"
    "second second second"
    "third third third";
  row-gap: 15rem;
}

#header-pic {
  width: 100%;
  height: fit-content;

  animation: disappear linear;
  animation-timeline: scroll();
  animation-range: entry 0;
}

main {
  grid-area: first;
}
#differproject {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  margin-left: 10rem;
}
.category-project {
  width: 80%;
  border-radius: 18rem;
  animation: appear linear;
  animation-timeline: VIEW();
  animation-range: entry 10%;
  padding-top: 10rem;
}

#content {
  grid-area: second;
  display: grid;
  place-items: center;
  text-align: center;
  row-gap: 2rem;
  animation: appear linear;
  animation-timeline: VIEW();
  animation-range: entry 10%;
}

h2,
p {
  .old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
  }
  #farms {
    grid-area: one;
  }
  #goals {
    grid-area: two;
  }

  .old-standard-tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
  }

  .old-standard-tt-regular-italic {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: italic;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0.5;
  }
}
footer {
  background-color: rgb(170, 173, 163);
  grid-area: third;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  width: auto;
  min-height: fit-content;
  text-size-adjust: 30;
}

.insta-pic {
  width: 10rem;
  border-radius: 2rem;
}

#left {
  flex-direction: column;
  flex-grow: 1.2;
}
#center {
  flex-direction: row;
  flex-grow: 3;
}

#footer-pic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#right {
  flex-direction: row-reverse;
  flex-grow: 1.2;
}

h3 {
  margin-left: 75px;
}

.foot {
  list-style-type: none;
  padding-left: 10%;
  margin: 1rem;
  overflow: none;
}

@media screen and (max-width: 530px) {
  body {
    display: grid;

    grid-template-areas:
      "first first first"
      "second second second"
      "third third third";
    row-gap: 15rem;
  }

  #header-pic {
    width: 100%;

    animation: disappear linear;
    animation-timeline: scroll();
    animation-range: entry 0;
  }
  #differproject {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 6rem;
  }
  .projects {
    margin: 0 0 0 0;
  }

  .category-project {
    width: 80%;
    border-radius: 18rem;
    animation: appear linear;
    animation-timeline: VIEW();
    animation-range: entry 10%;
    padding-top: 10rem;
  }
  #content {
    width: 80%;
    grid-area: second;
    display: grid;
    place-items: center;
    text-align: center;
    row-gap: 2rem;
    margin-left: 2rem;
    padding-left: 1rem;
    animation: appear linear;
    animation-timeline: VIEW();
    animation-range: entry 10%;
  }
  main {
    grid-area: first;
    width: 100%;
  }

  footer {
    display: none;
  }
}
