h1 {
    color: #e6a817;
    margin-bottom: 20px;
}

#cart-container{
    margin-top: 20px;
}

#total-price {
    font-weight: 1.2rem;
    font-weight: bold;
    color: #e6a817;
    margin-top: 20px;
}