/*body*/
main {
  display: grid;
  grid-template-columns: repeat(4);
  grid-template-areas: 
  aside body body body;
  aside body body body;
  aside body body body;
  aside body body body;
  
}

/*pictures*/
.shop {
  display: body;
  grid-template-columns: repeat(3);
  grid-template-rows: repeat(4);
}

/*aside*/
aside{
    display: aside;
border-end-end-radius: solid red;
}