/*body*/
body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "footer footer footer footer";
  gap: 0;
}

/*pictures*/
main {
  grid-area: main;
}

#category-container {
  background-color: blueviolet;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.shop {
  height: 50%;
  width: 30%;
  padding: 10;
}

/*aside*/
aside {
  background-color: aqua;
  grid-area: aside;
  border-end-end-radius: solid red;
}

footer {
  background-color: rgb(233, 141, 21);
  grid-area: footer;
}
