#logo {
  font-weight: 600;
  font-size: large;
  display: inline-block;
  text-align: justify;
}
ul {
  list-style-type: none;
  padding: 0%;
  margin: 2rem;
  overflow: none;
}
li {
  display: inline-flex;
  color: black;
  padding: 1rem;
}

/*body*/
body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "footer footer footer footer";
  gap: 0;
}
header {
  grid-area: header;
}
/*pictures*/
main {
  grid-area: main;
}

#category-container {
  background-color: blueviolet;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.shop {
  height: 100%;
  width: 100%;
}
figcaption {
  margin-top: 10px;
  font-size: 1rem;
  color: white;
  text-align: center;
}

/*aside*/
aside {
  background-color: aqua;
  grid-area: aside;
  border-end-end-radius: solid red;
  padding: 3rem;
}

footer {
  background-color: rgb(233, 141, 21);
  grid-area: footer;
}
